body {
  margin: 0;
  padding: 0;
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

h1, h2, h3 {
  color: #38bdf8;
}

a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}

button {
  background: #38bdf8;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin: 8px;
  width: 200px;
}

.container {
  margin-top: 80px;
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
